#experience-container {
    display: flex;
    justify-content: space-between
}

#img-container {
    margin-right: 10px;
    width: 6rem;
    height: 6rem;
}

#img-container img {
    width: 100%;
    height: 100%;  
    object-fit: contain;
}