#header-container {
    margin: 0 auto;
}

#header-container span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: black;
    margin-top: 1rem;
}

#intro-container {
    display: flex;
    font-size: 1rem;
    font-family: 'Gideon Roman';
    justify-content: space-between;
    flex-direction: row;
}

#profile-pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-right: 10px;
}

#intro-text-container p {
    color: black;
    text-align: left;
    margin: 10px;
}

#links {
    display: flex;
    flex-direction: column;
    text-align: left;
    text-decoration: underline;
    color: purple
}

#links:hover {
    cursor: pointer;
}

#left {
    display: flex;
}

