#project-container {
    display: flex;
    margin: 0 auto;
}

#img-container {
    width: 8rem;
    height: 8rem;
}

#img-container img {
    width: 100%;
    height: 100%;  
    object-fit: contain;
}

#text-container {
    text-align: left;   
    color: black;
    max-width: 80ch;
}

